::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c0055 !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ae40e0a6;
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(239, 94, 242, 0.911);
  border-radius: 12px;
}

@media (max-width: 767px) {
  .cursor {
    display: none;
  }
}
